<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.excelmaker.dataservice.DataMapper">
    <select id="selectStayCount" resultType="com.example.excelmaker.excelform.StayCount">
        select c.stay as stay, count(c.stay) as count
        from programmer p,
             covid c,
             hospital h,
             member m
        where p.id = c.programmer_id
          and h.id = c.hospital_id
          and m.id = p.member_id
          and p.country = 'India'
          and h.name = '서울대병원'
          and m.age in (20, 21, 22, 23, 24, 25, 26, 27, 28, 29)
        group by c.stay
        order by null
    </select>
    <select id="selectExerciseCount" resultType="com.example.excelmaker.excelform.ExerciseCount">
        select p.exercise, count(p.exercise) as count
        from programmer p,
             covid c,
             hospital h,
             member m
        where p.id = c.programmer_id
          and h.id = c.hospital_id
          and m.id = p.member_id
          and h.name = '서울대병원'
          and m.age in (30, 31, 32, 33, 34, 35, 36, 37, 38, 39)
        group by p.exercise
        order by null
    </select>
    <select id="selectDeveloperInfo" resultType="com.example.excelmaker.excelform.DeveloperInfo">
        select c.id, h.name, p.hobby, p.dev_type, p.years_coding
        from programmer p,
             covid c,
             hospital h
        where p.id = c.programmer_id
          and h.id = c.hospital_id
          and ((student like 'Yes%' and hobby = 'Yes') or (years_coding = '0-2 years'))
    </select>
</mapper>