<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.excelmaker.DataMapper">
    <select id="selectStayCount" resultType="com.example.excelmaker.StayCount">
        select c.stay as stay, count(c.stay) as count
        from programmer p,
             covid c,
             hospital h,
             member m
        where p.id = c.programmer_id
          and h.id = c.hospital_id
          and m.id = p.member_id
          and p.country = 'India'
          and h.name = '서울대병원'
          and m.age in (20, 21, 22, 23, 24, 25, 26, 27, 28, 29)
        group by c.stay
        order by null
    </select>
</mapper>